{% extends 'lmen2023/baselmen.html' %}
{% block content %}


<h1>Frequently Asked Question</h1>
<br>
<ol>
    <li>
        <p><b>Apakah pesanan dapat dilakukan berulang kali dan dikirim ke alamat yang berbeda?</b> </p>
        <p>Tentu boleh, tidak ada batasan untuk jumlah transaksi selama periodenya sesuai dengan periode program & data order diinput ke form</p>
    </li>

    <li>
        <p><b>Apakah transaksi dengan diskon dan/atau voucher juga dihitung?</b> </p>
        <p>Ya, seluruh transaksi dengan ataupun tanpa diskon akan dihitung. Namun untuk menghindari perbedaan harga dari masing-masing channel maka value yang dihitung di dashboard sudah menggunakan harga standard dari kami.</p>
    </li>

    <li>
        <p><b>Destinasi turnya kemana ya? Berapa hari?</b> </p>
        <p>Untuk negara & durasi akan menyesuaikan dengan ketersediaan paket tur. <br>
            Negara Asia: Maksimal Rp 15.000.000 / orang <br>
            Negara Eropa: Maksimal Rp 27.000.000 / orang
        </p>
    </li>
    <li>
        <p><b>Berapa harga standardnya kak?</b></p>
        <p>
            <table>
                <thead>
                    <tr>
                        <th>Nama Produk</th>
                        <th>Harga Standard</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>L-Men Platinum Keller 800g</td>
                        <td>325.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Platinum Refill 800g</td>
                        <td>290.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Platinum Dus 6 Sachet</td>
                        <td>105.000</td>
                    </tr>
                    <tr>
                        <td>L-Men 2GO 200ml</td>
                        <td>11.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Advanced Choco Vanilla 500g</td>
                        <td>160.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Advanced Cappuccino 250g</td>
                        <td>88.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Gain Mass 500g</td>
                        <td>132.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Gain Mass 225g</td>
                        <td>68.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Lose Weight 300g</td>
                        <td>132.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Daily 250g</td>
                        <td>57.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Proteinmix</td>
                        <td>55.000</td>
                    </tr>
                    <tr>
                        <td>L-Men Protein Bar 1 box</td>
                        <td>92.400</td>
                    </tr>
                    <tr>
                        <td>L-Men Protein Crunch 1pc</td>
                        <td>11.000</td>
                    </tr>
                    <tr>
                        <td>L-Men PlantProtein 216g</td>
                        <td>100.000</td>
                    </tr>
                    <tr>
                        <td>L-Men PlantProtein 2GO 190ml</td>
                        <td>12.000</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </li>
</ol>
{% endblock %}


