{% extends 'lmen2023/baselmen.html' %}
{% block content %}
<h2>all affilate for admin only</h2>
<div class="container">
    <form method="POST">
        <label for="inpaffuid" class="form-label">Affiliate Username/ID</label>
        <input class="form-control" type="text" aria-label="default input example" id="inpaffuid" name="inpaffuid">
        <label for="inpaffvalue" class="form-label">Affilaite Value</label>
        <input class="form-control" type="number" aria-label="default input example" id="inpaffvalue" name="inpaffvalue">
        <input type="submit" name="action" value="Add Affiliate" class="btn btn-primary mb-3">
    </form>

</div>
<div class="container">
    <table id="tabellmenaff" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username/ID</th>
                <th>Affiliate Value</th>
                <!-- <th>Affiliate Status</th> -->
                <!-- <th>Docs</th> -->
                <th>Action</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            {% for i in df %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.email}}</td>
                <td>{{i.affvalue}}</td>
                <!-- <td>{{i.affstatus}}</td> -->
                <!-- <td>{{i.affdocs}}</td> -->
                <td><a href="{{url_for('affiliateedit',id=i.id)}}">edit</a> <a href="{{url_for('lmendelinputaff',id=i.id)}}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){$('#tabellmenaff').DataTable();});
</script>
{% endblock %}

