{% extends 'lmen2023/baselmen.html' %}
{% block content %}

<table>
    <tr>
      <td>
        <a href="{{url_for('lmeninput')}}" >
          <img src="{{ url_for('static', filename='back.png') }}" alt="" style="height: 30px;">
        </a>
      </td>
      <td>
        <h1>Frequently Asked Question</h1>
      </td>
    </tr>
  </table>

<br>
<ol>
    <li>
        <p><b>Apakah pesanan dapat dilakukan berulang kali dan dikirim ke alamat yang berbeda?</b> </p>
        <p>Tentu boleh, tidak ada batasan untuk jumlah transaksi selama periodenya sesuai dengan periode program & data order diinput ke form</p>
    </li>

    <li>
        <p><b>Apakah transaksi dengan diskon dan/atau voucher juga dihitung?</b> </p>
        <p>Ya, seluruh transaksi dengan ataupun tanpa diskon akan dihitung. Namun untuk menghindari perbedaan harga dari masing-masing channel maka value yang dihitung di dashboard sudah menggunakan harga standard dari kami.</p>
    </li>

    <li>
        <p><b>Destinasi turnya kemana ya? Berapa hari?</b> </p>
        <p>Untuk negara & durasi akan menyesuaikan dengan ketersediaan paket tur. <br>
            Negara Asia: Kurang lebih Rp 15.000.000 / orang <br>
            Negara Eropa: Kurang lebih  Rp 30.000.000 / orang
        </p>
    </li>
    <li>
        <p><b>Berapa harga standardnya kak?</b></p>
        <p>

            <table class="table" style="width: auto;">
                <thead>
                  <tr>
                    <th>Nama Produk</th>
                    <th>Harga Standard</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>L-Men Hi Protein 2 Go Chocolate</td>
                    <td>                  11,500</td>
                  </tr>
                  <tr>
                    <td>L-Men PlantProtein 2GO Ogura 190ml</td>
                    <td>                  12,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Protein Crunch BBQ Beef (20gr)</td>
                    <td>                  12,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Proteinmix Coffee 6 sachet x 33gr</td>
                    <td>                  56,500</td>
                  </tr>
                  <tr>
                    <td>L-Men Daily 250gr</td>
                    <td>                  59,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Gain Mass Chocolate 225gr</td>
                    <td>                  69,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Gain Mass Banana 225gr</td>
                    <td>                  70,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Bar Crunchy Chocolate 12sch</td>
                    <td>                  80,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Whey Advanced Cappuccino 250gr</td>
                    <td>                  88,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Protein Bar Chocolate 12 sch</td>
                    <td>                  96,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Protein Bar Strongberry 12 sch</td>
                    <td>                  98,000</td>
                  </tr>
                  <tr>
                    <td>L-Men Isopower Stargizing 30 Sachet</td>
                    <td>                100,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men PlantProtein Ogura 216g</td>
                    <td>                100,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Platinum Chocolate Dus 6 sch 38.5 gr</td>
                    <td>                115,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Gain Mass Taro 500g</td>
                    <td>                130,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Lose Weight 300g</td>
                    <td>                132,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Gain Mass Chocolate 500gr</td>
                    <td>                138,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Whey Advanced Choco Vanilla 500gr</td>
                    <td>                160,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Advanced Gold Vanilla 500g</td>
                    <td>                175,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Platinum Basic Unflavored 800g</td>
                    <td>                250,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Platinum Refill Choco Latte 800g</td>
                    <td>                315,000 </td>
                  </tr>
                  <tr>
                    <td>L-Men Platinum Keller 800 gram</td>
                    <td>                335,000 </td>
                  </tr>
                </tbody>
            </table>
        </p>
    </li>
</ol>
{% endblock %}


