{% extends 'lmen2023/baselmen.html' %}
{% block content %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in df %}
            <tr>
                <td>{{i.first_name}} {{i.username_tiktok}}</td>
                <td>{{i.email}}</td>
                <td>{{i.password}}</td>
                <td><a href="{{url_for('lmendeluser',id=i.id)}}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>



{% endblock %}


