{% extends 'lmen2023/baselmen.html' %}
{% block content %}


<h1>Frequently Asked Question</h1>
<br>
<ol>
    <li>
        <p><b>Apakah pesanan dapat dilakukan berulang kali dan dikirim ke alamat yang berbeda?</b> </p>
        <p>Tentu boleh, tidak ada batasan untuk jumlah transaksi selama periodenya sesuai dengan periode program & data order diinput ke form</p>
    </li>

    <li>
        <p><b>Apakah transaksi dengan diskon dan/atau voucher juga dihitung?</b> </p>
        <p>Ya, seluruh transaksi dengan ataupun tanpa diskon akan dihitung. Namun untuk menghindari perbedaan harga dari masing-masing channel maka value yang dihitung di dashboard sudah menggunakan harga standard dari kami.</p>
    </li>

    <li>
        <p><b>Destinasi turnya kemana ya? Berapa hari?</b> </p>
        <p>Untuk negara & durasi akan menyesuaikan dengan ketersediaan paket tur. <br>
            Negara Asia: Maksimal Rp 15.000.000 / orang <br>
            Negara Eropa: Maksimal Rp 27.000.000 / orang
        </p>
    </li>
</ol>
{% endblock %}


