{% extends 'lmen2023/baselmen.html' %}
{% block content %}

<h1>Profile</h1>
<br>
<form method="POST" autocomplete="off" class="formprofilelmen">
    <div class="container">
        Nama Lengkap
        <input class="form-control" value="{{user.first_name}}" type="text" placeholder="" aria-label="default input example" id="qnama" name="qnama">
    </div>

    <div class="container">
        Email
        <input class="form-control" value="{{user.email}}" type="email" placeholder="" aria-label="default input example" id="qemail" name="qemail">
    </div>

    <div class="container">
        Nomor Handphone
        <input class="form-control" value="{{user.phone}}" type="text" placeholder="" aria-label="default input example" id="qphone" name="qphone">
    </div>

    <div class="container">
        Voucher List
        <input class="form-control" value="{{user.voucher}}" type="text" placeholder="" aria-label="default input example" id="qvoucher" name="qvoucher">
    </div>

    <div class="container">
        Username Tiktok
        <input class="form-control" value="{{user.username_tiktok}}" type="text" placeholder="" aria-label="default input example" id="qunamett" name="qunamett">
    </div>

    <div class="container">
        Marketplace 2
        <select name="inpaffmp" id="inpaffmp" class="form-select mb-3">
            {% if user.app2 ==  "Tokopedia" %}
                <option value="Tokopedia" selected>Tokopedia</option>
                <option value="Shopee">Shopee</option>
            {% elif user.app2 ==  "Shopee" %}
                <option value="Tokopedia">Tokopedia</option>
                <option value="Shopee" selected>Shopee</option>
            {% else %}
                <option selected>None</option>
                <option value="Tokopedia">Tokopedia</option>
                <option value="Shopee">Shopee</option>
            {% endif %}
        </select>
        <input class="form-control" value="{{user.username_tokpi}}" type="text" placeholder="" aria-label="default input example" id="qunametokpi" name="qunametokpi">
    </div>

    <!-- <br> -->
    <br>
    <div class="container">
    <input type="submit" name="action" value="Update" class="btn btn-primary mb-3">
    </div>
</form>
{% endblock %}


