{% extends 'lmen2023/baselmen.html' %}
{% block content %}

<h1>Hi, <b>{{session['username']}}</b></h1>


{% if session['user']=='customer@nutrimart.co.id' %}
<ul>
    <li><a href="{{url_for('lmenorderall')}}">Order</a></li>
    <li><a href="{{url_for('lmenaffall')}}">Affiliate</a></li>
    <li><a href="{{url_for('lmenalluser')}}">User</a></li>
</ul>

<!-- <a href="">order</a> -->

{% else %}
<p>Nilai Transaksimu : <b>{{ "Rp {:,.0f}".format(valtrx) }}</b>
    <a href="" role="button" data-bs-toggle="modal" data-bs-target="#valinfoModal">
        <img src="{{ url_for('static', filename='info.png') }}" alt="" style="height: 15px;">
    </a>
</p>
<br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#cust-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Konsumen</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#resell-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Reseller</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#affil-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Affiliate</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="cust-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="container">
            <form method="POST">
                <br>
                <label for="inporderid" class="form-label">Order ID </label>
                    <a href="" role="button" data-bs-toggle="modal" data-bs-target="#orderidModal">
                        <img src="{{ url_for('static', filename='info.png') }}" alt="" style="height: 15px;">
                    </a>
                <input class="form-control" type="text" placeholder="" aria-label="default input example" id="inporderid" name="inporderid" required>
                <label for="inporderdate" class="form-label">Order Date</label>
                <input class="form-control" type="date" placeholder="" aria-label="default input example" id="inporderdate" name="inporderdate" required>
                <input type="submit" name="action" value="Add Order" class="btn btn-primary mb-3">
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="resell-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="container">
            <form method="POST" enctype=multipart/form-data>
                <br>
                <label for="inpvcr1" class="form-label">Voucher 1</label>
                <input class="form-control" type="text" placeholder="" value="{{vou[0]}}" aria-label="default input example" id="inpvcr1" name="inpvcr1" {% if vou[0] %} readonly {% endif %}>
                <label for="inpvcr2" class="form-label">Voucher 2</label>
                <input class="form-control" type="text" placeholder="" value="{{vou[1]}}" aria-label="default input example" id="inpvcr2" name="inpvcr2" {% if vou[1] %} readonly {% endif %}>
                {% if vou[1] and vou[0] %}
                <p>hubungi admin untuk mengganti voucher</p>
                {% else %}
                <input type="submit" name="action" value="Add Voucher" class="btn btn-primary mb-3">
                {% endif %}
                
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="affil-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="container">
            <form method="POST" enctype=multipart/form-data>
                <br>
                <label for="inpuseridtt" class="form-label">Tiktok</label>
                <input class="form-control" type="text" placeholder="User Id" value="{{user.username_tiktok}}" aria-label="default input example" id="inpuseridtt" name="inpuseridtt" {% if user.username_tiktok %} readonly {% endif %}>
                <label for="inpuseridst" class="form-label">Shopee / Tokpedia</label>
                <input class="form-control" type="text" placeholder="Nama Profile" value="{{user.username_tokpi}}" aria-label="default input example" id="inpuseridst" name="inpuseridst" {% if user.username_tokpi %} readonly {% endif %}>
                {% if ((user.username_tiktok) and (user.username_tokpi)) %}
                <p>hubungi admin untuk mengganti username affiliate</p>
                {% else %}
                <input type="submit" name="action" value="Add Affiliate" class="btn btn-primary mb-3">
                {% endif %}
                
            </form>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col">
        <h2>Konsumen & Reseller</h2>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Value</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df %}
                <tr>
                    <td>{{i.orderid}} {{i.orderdate}}</td>
                    {% if i.ordervalue %}
                        <td>{{ "Rp {:,.0f}".format(i.ordervalue) }}</td>
                        {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{i.orderstatus}}</td>
                    <td><a href="{{url_for('lmendelinput',id=i.id)}}"><img class='utilicon' src="{{ url_for('static', filename='delete_w.png') }}" alt=""></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h2>Affiliate</h2>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Value</th>
                    <th>Marketplace</th>
                    <th>Attachment</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df2 %}
                <tr>
                    <td>{{i.id}}</td>
                    <!-- <td>{{ "Rp {:,.0f}".format(i.affvalue) }}</td> -->
                    {% if i.affvalue %}
                        <td>{{ "Rp {:,.0f}".format(i.affvalue) }}</td>
                        {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{i.affmp}}</td>
                    <td><a href="/{{i.affdocs}}" target="_blank">view</a></td>
                    <td>{{i.affstatus}}</td>
                    <td><a href="{{url_for('lmendelinputaff',id=i.id)}}"><img class='utilicon' src="{{ url_for('static', filename='delete_w.png') }}" alt=""></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="orderidModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Order ID Info</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Panduan mengisi form input order:</p>
          <ol>
            <li>Setelah menyelesaikan transaksi silahkan salin no order yang tertera pada website / aplikasi yang Anda gunakan untuk belanja</li>
            <li>Klik tombol Add Order</li>
            <li>Data Anda akan kami verifikasi terlebih dahulu dan status tertulis PENDING. Jika verifikasi sudah selesai maka status akan berubah menjadi VALID / NOT VALID.</li>
            <li>Pesanan akan dinyatakan VALID jika status pesanan sudah selesai dan tidak ada permintaan retur & refund. </li>
        </ol>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
</div>

<div class="modal fade" id="affinfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Affiliate Info</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Panduan mengisi form input hasil affiliate:</p>
            <ol>
                <li>Setelah melakukan promosi silahkan screenshot hasil penjualan produk L-Men yang muncul di dashboard Affiliate Anda setiap akhir bulan (contoh: Hasil bulan April discreenshot tanggal 30 April 2023, dst)</li>
                <li>Ketik hasil yang muncul pada dashboard ke kolom Affiliate Value</li>
                <li>Pilih marketplace sesuai program affiliate yang kamu ikuti</li>
                <li>Klik tombol Add Affiliate</li>
                <li>Data Anda akan kami verifikasi terlebih dahulu dan status tertulis PENDING. Jika verifikasi sudah selesai maka status akan berubah menjadi VALID / NOT VALID.</li>
                <li>Data akan dinyatakan VALID jika sesuai dengan data yang kami terima dari marketplace tersebut.</li>
            </ol>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
</div>

<div class="modal fade" id="valinfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Info Nilai Transaksi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Akumulasi pembelanjaanmu dihitung dari transaksi dengan status VALID. Jika ada transaksi yang dinyatakan tidak valid silahkan mengisi ulang dengan data yang benar atau menghubungi Whatsapp kami.</p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
</div>
  

{% endif %}



{% endblock %}


