

/* h1{
  color:green;
  }

th,td {
  border-bottom: 1px solid #ddd;
  font-family: Tahoma, Verdana, sans-serif;
}

.center{
  margin: auto;
} */

table{
  margin: auto;
}

li {
  float: left;
}

/* li a:hover {
  background-color: #06283D;
} */

li a {
  display: block;
  padding: 8px;
}

ul {
  list-style-type: none;
  /* position: fixed; */
  /* margin: 0; */
  /* padding: 0; */
  overflow: hidden;
  /* background-color: white; */
}

.anav {
  display: block;
  padding: 8px;
  /* background-color: #dddddd; */
  color: #06283D;
  font-weight: bold;
  text-decoration: none;
}

a:hover {color: #256D85;
} */
