.agr1{
  text-align:left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 20px
  overflow-x: auto;
}

h1,h2,h6{text-align:center;}

.card-img-top{padding:10px;}

.card-img-container{height:25px}

.navbar{
  background-color: #bfe165;
}

.navbar-text{
  color:white !important;
  font-size:small;
}

label{
  font-weight: bold;
}

tr{
  text-align:left !important;
}
/* p{
 word-wrap:break-word;

}

li{
 word-wrap:break-word;
} */
