.formprofilelmen{
    width: 300px;
    border: #7e7e7e;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

.utilicon{
    width: 25px;
  }

select[name="tabellmenorder_length"] {
    color: cornflowerblue;
}

.mainbanner{
    width: -webkit-fill-available;
    max-height: 500px;
    border-radius: 15px;
    max-width: -moz-available;
}

select[name="tabellmenaff_length"] {
    color: cornflowerblue;
}

input[type="search"]{
    color: cornflowerblue;
}

.dataTables_info{
    display: none;
}

.form-control, .form-select{
    color: cornflowerblue !important;
    margin-bottom: 0.7rem;
}

.login{
    align-self: center;
    text-align: center;
}

.lgnbtn{
    width: 100%;
}

.rowmargintop{
    margin-top: 5px !important;
}

.stickyicon{
    position: fixed;
    bottom: 5%;
    right: 5%;
}