.formprofilelmen{
    width: 300px;
    border: #7e7e7e;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

.utilicon{
    width: 25px;
  }

select[name="tabellmenorder_length"] {
    color: cornflowerblue;
}

select[name="tabellmenaff_length"] {
    color: cornflowerblue;
}

input[type="search"]{
    color: cornflowerblue;
}

.dataTables_info{
    display: none;
}

.form-control{
    color: cornflowerblue !important;
}