<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    <ul>
     <li><a href="default.asp">Home</a></li>
     <li><a href="news.asp">News</a></li>
     <li><a href="contact.asp">Contact</a></li>
     <li><a href="about.asp">About</a></li>
    </ul>
    {% block content %}
    {% endblock %}
  </body>
</html>
