{% extends 'base.html' %}
{% block content %}

<div class="agr1">
  <h1>Kejutan Voucher Spesial Diskon 50%</h1>
  <!-- <h2>Customer Nutrimart</h2> -->
  <p>Hi Nutrifriends! Terima kasih telah menjadi pelanggan setia Nutrimart Official Store.</p>
  <p>Agar dapat selalu memberikan yang terbaik untuk kamu, kami ingin menanyakan terkait kesediaan dan pilihan kamu untuk mendapatkan program promosi dari kami.</p>
  <p>Mohon kesediaan mengisi form singkat ini dengan estimasi pengisian sekitar 2 menit.</p>
  <p>Nutrifriends dapat klaim voucher di akhir form untuk digunakan berbelanja pada marketplace Nutrimart Official Store.</p>
  <p>Terima kasih Nutrifriends!</p>
  <div class="">
    <a class="btn btn-primary" href="{{url_for('form')}}" role="button">Isi Sekarang</a>
  </div>
</div>


{% endblock %}
