{% extends 'base2.html' %}
{% block content %}

<h1>List Janjian Harga</h1>
<div class='container'>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Download
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{url_for('download',type='janjianharga')}}">All</a></li>
      <li><a class="dropdown-item disabled" href="#">Active</a></li>
      <li><a class="dropdown-item disabled" href="#">Pending</a></li>
    </ul>
  </div>
</div>

<br>
<div class="agr1">
  <h3>Harga Janjian Active</h3>
  {% if msg > 0 %}
  <div class="alert alert-warning" role="alert">
    <b>{{msg}} item</b> janjian harga berakhir kurang dari 7 hari
  </div>
  {% endif %}
  <table id="tabeljanjian" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nama Produk</th>
        <th>SKU</th>
        <th>PL NFI</th>
        <th>Harga Janjian</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in df %}
      <tr>
        <td>{{i.realnamaproduk}}</td>
        <td>{{i.realsku}}</td>
        <td>{{i.plnfi}}</td>
        <td>{{i.hargajanjian}}</td>
        <td>{{i.startdate}}</td>
        <td>{{i.enddate}}</td>
        <td>{{i.id}}</td>
        <td>
          <a class="btn btn-outline-danger btn-sm" href="{{url_for('deljanjian',id=i.id)}}" role="button">delete</a>
          <!-- <a href="">edit</a> -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<div class="agr1">
  <h3>Harga Janjian Pending</h3>
  <table id="tabeljanjian2" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nama Produk</th>
        <th>SKU</th>
        <th>PL NFI</th>
        <th>Harga Janjian</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in df2 %}
      <tr>
        <td>{{i.realnamaproduk}}</td>
        <td>{{i.realsku}}</td>
        <td>{{i.plnfi}}</td>
        <td>{{i.hargajanjian}}</td>
        <td>{{i.startdate}}</td>
        <td>{{i.enddate}}</td>
        <td>{{i.id}}</td>
        <td>
          <a class="btn btn-outline-danger btn-sm" href="{{url_for('deljanjian',id=i.id)}}" role="button">delete</a>
          <!-- <a href="">edit</a> -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){$('table').DataTable();});
  // $(document).ready(function(){$('#tabeljanjian2').DataTable();});
</script>
{% endblock %}
