{% extends 'base2.html' %}
{% block content %}

<h1>Promo Plan</h1>

<div class='container'>
    <div class="dropdown">
      <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Download
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{url_for('downtemp')}}">Template</a></li>
      </ul>
    </div>
</div>

<br>

<div class="agr1">
    {% if msg %}
    <div class="alert alert-danger" role="alert">{{msg}}</div>
    {% endif %}
    <div class="mb-3">
        <form method=POST enctype=multipart/form-data>
            <label for="formFile" class="form-label">Masukan SKU file</label>
            <input class="form-control" type='file' name='ppfile' id="formFile" required>
            <label for="formDate" class="form-label">Masukan Promo date</label>
            <input class="form-control" type='date' name='ppdate' id="formDate" required>
            <br>
            <div class="container" id="btlcard">
              <div class="row g-4 row-cols-2 row-cols-lg-5">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5>Tropicana Slim</h5>
                      <label for="btl_s_ts">Single</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_s_ts" name="btl_s_ts" max="5" required>
                      <label for="btl_b_ts">Bundle</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_b_ts" name="btl_b_ts" max="10" required>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5>HiLo</h5>
                      <label for="btl_s_hilo">Single</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_s_hilo" name="btl_s_hilo" max="5" required>
                      <label for="btl_b_hilo">Bundle</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_b_hilo" name="btl_b_hilo" max="10" required>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5>L-Men</h5>
                      <label for="btl_s_lmen" >Single</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_s_lmen" name="btl_s_lmen" max="5" required>
                      <label for="btl_b_lmen" >Bundle</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_b_lmen" name="btl_b_lmen" max="10" required>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5>Wdank</h5>
                      <label for="btl_s_wdank" >Single</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_s_wdank" name="btl_s_wdank" max="5" required>
                      <label for="btl_b_wdank" >Bundle</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_b_wdank" name="btl_b_wdank" max="10" required>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5>NutriSari</h5>
                      <label for="btl_s_ns" >Single</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_s_ns" name="btl_s_ns" max="5" required>
                      <label for="btl_b_ns" >Bundle</label>
                      <input class="form-control" type="number" aria-label="default input example" id="btl_b_ns" name="btl_b_ns" max="10" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <input class="btn btn-primary mb-3" type=submit value=Generate>
        </form>
    </div>
</div>

{% endblock %}
